{% load static %}

<div class="footer_section layout_padding">
    <div class="container">
      <div class="logo"><a href=""><img src="{% static 'images/logo.png' %}"></a></div>
       <div class="input_bt">
          <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
          <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
       </div>
       <div class="footer_menu">
          <ul>
             <li><a href="#">Best Sellers</a></li>
             <li><a href="#">Gift Ideas</a></li>
             <li><a href="#">New Releases</a></li>
             <li><a href="#">Today's Deals</a></li>
             <li><a href="#">Customer Service</a></li>
          </ul>

          {% for contact in contacts %}
          <div class="location_main">{{ contact.phone }}<a href="">{{ contact.name }}</a></div>
          {% endfor %}
    </div>
 </div>
 <!-- footer section end -->